name: Deploy to EKS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and push backend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/k8s-backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/k8s-backend:latest

      - name: Build and push frontend
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/k8s-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/k8s-frontend:latest

      - name: Deploy to EKS
        run: |
          aws eks update-kubeconfig --name kube-learning --region ap-south-1
          kubectl apply -f backend/k8s/
          kubectl apply -f frontend/k8s/
